<h1> <%=@restaurants.name %></h1>

<h3> <%=@restaurants.summary %></h3>

<h3> <%=@restaurants.street_address %></h3>
<h3> Neighbourhood:<%= @restaurants.neighbourhood %></h3>
<h3> Price Range: <%= @restaurants.price_range %></h3>

<h3> <%=@restaurants.menu %></h3>
<h2><%= "Available Bookings" %></h2>

<div class="editbutton">
    edit button
</div>
