
<div>
  <h3 class="points"> <%= current_user.name %>, you have <%= current_user.credit %>credits! Nice! </h3>
</div>


<div class="activebookings">
  <h2>Active Bookings</h2>

  <ul class="ablist">

    <% @booking_array.each do |booking|%>

      <li> Restaurant : <%= booking.restaurant.name %> </li>
      <li> Party Size : <%= booking.party_size %> </li>
      <li>Time : <%= booking.time %> </li>
      <li>Date : <%= booking.date %> </li>
    <p>|</p>
    <p>|</p>



    <% end %>



  </ul>

</div>

<div class="makeabooking">
  <a href="restaurantindex">Make A Booking</a>

</div>
